@use "../../index.scss";

// posters size
$posterWidth: 100px;

.movies-wrapper {
   padding-top: index.$mg-3;
   .movies {
      .title {
         text-transform: capitalize;
         margin: index.$mg-2 0 index.$mg-1 index.$mg-1;
      }
      .movies-data {
         .swiper {
            overflow: hidden;
            .swiper-wrapper {
               display: flex;
               align-items: center;
               .swiper-slide {
                  width: $posterWidth;
                  height: auto;
                  border-radius: 8px;
                  margin-left: index.$mg-1;
                  cursor: grab;
                  .row {
                     cursor: grab;
                     a {
                        img {
                           cursor: grab;
                           width: 100%;
                           height: 100%;
                           border-radius: 8px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@media only screen and (min-width: 700px) {
   $posterWidth: 150px;

   .movies-wrapper {
      padding-top: index.$mg-3;
      .movies {
         .title {
            text-transform: capitalize;
            margin: index.$mg-2 0 index.$mg-1 index.$mg-1;
         }
         .movies-data {
            .swiper {
               overflow: hidden;
               .swiper-wrapper {
                  display: flex;
                  align-items: center;
                  .swiper-slide {
                     width: $posterWidth;
                     height: auto;
                     border-radius: 8px;
                     margin-left: index.$mg-1;
                     cursor: grab;
                     .row {
                        cursor: grab;
                        a {
                           img {
                              cursor: grab;
                              width: 100%;
                              height: 100%;
                              border-radius: 8px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@media only screen and(min-width: 900px) {
   $posterWidth: 250px;
   .movies-wrapper {
      // background-color: blue;
      padding-top: index.$mg-3;
      .movies {
         .title {
            text-transform: capitalize;
            margin: index.$mg-2 0 0 index.$mg-1;
            font-size: 30px;
         }
         .movies-data {
            .swiper {
               overflow: hidden;
               overflow-x: scroll;

               -ms-overflow-style: none;
               scrollbar-width: none;
               &::-webkit-scrollbar {
                  display: none;
               }

               .swiper-wrapper {
                  display: flex;
                  align-items: center;
                  padding: 1rem 0;
                  .swiper-slide {
                     width: $posterWidth;
                     height: auto;
                     border-radius: 8px;
                     margin-left: index.$mg-1;
                     cursor: grab;
                     .row {
                        cursor: grab;
                        a {
                           img {
                              display: block;
                              cursor: grab;
                              width: 100%;
                              height: 90%;
                              border-radius: 8px;
                              transition: all 0.35s ease-in-out;
                              &:hover {
                                 transform: scale(1.03);
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
