.details {
   .details-container {
      .details-wrapper {
         .trailer-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 66.6%;
         }
      }
   }
}
